:root { /* allows for global CSS variables */
    --text-color: #000000;
    /*--link-color: #ffffff; */
    --background-color: #eeeff1;
}

/* <weight>: Use a value from 400 to 840 */
/* <uniquifier>: Use a unique and descriptive class name */
/*.andada-pro-html {
    font-family: "Andada Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;   /* Regular */
    /*
    font-style: normal;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {  /* for attributes affecting the whole page */
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* Adjust this value based on the height of your nav bar */
}

body {
    font-family: "Andada Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;   /* Regular */
    font-style: normal;
}

a { /* removes blue font & underline on links */
    color: var(--text-color);
    text-decoration: none;
}

nav {
    background-color: #D5B3B3;
    display: flex;
    position: fixed;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;    /* centers in the middle of the nav bar */
    padding: 0 50px;    /* 0 pad top&bottom, 50px left&right*/  
    z-index: 1000;   /* makes sure it stays on top of everything else */  
}

.left-nav {
    font-size: 20px;
}

.right-nav {
    font-size: 18px;
    display: flex;  /* makes the gap actually work */
    gap: 35px;  /* gap between each element */
    padding-right: 10px;    /* pushes more inward from right side */
}

/* add some CSS in so when hover over links,
either underlines with white bar or turns white text?? */


#about-section {
    flex-direction: column; /* stacks the elements top-to-bottom instead of in a row */
    justify-content: center;    /* centers content in middle of this column-axis */
    padding: 10px 100px;    /* CHANGE 10px???? */
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;  /* gap between each element */
    margin-bottom: 40px;    /* space between the section and the divider */
}

/* put #about-section for more specification. if that's the only spot you have it, it's not necessary */
#about-section .headshot {  /* makes the frame to hold the image */
    width: 320px;
    height: 320px;
    overflow: hidden;
    margin-top: 120px;  /* pulls it up from the top of the page */
    margin-bottom: 42px;
    border-radius: 50%; /* makes it a circle */
}
#about-section .headshot img {
    width: 100%;    /* fills frame completely */
    height: 100%;
    object-fit: cover;  /* renders properly */
}

#about-section .biography {
    padding: 0px 200px;
    font-size: 16px;
}

/* Social Media */
#about-section .social-media-links i {
    transition: transform 0.3s ease;
}
#about-section .social-media-links i:hover {
    /*transform: translateY(-9px); /* moves it 9px up from its current position */
    transform: scale(1.2);
}

#about-section .social-media-links {
    padding: 30px 200px;
    display: flex;
    justify-content: center;
    margin-left: 23px;
}

#about-section .social-media-links a {    /* edits links */
    padding: 0px 18px;
    /*display: flex;
    flex-direction: column;  /* Arranges the icon and text vertically */
    /*align-items: center;     /* Centers the content inside the <a> (icon + text) */
}

#about-section a i {    /* edits icons */
    color: #D5B3B3;
    font-size: 50px;    /* size of icons */
}

#about-section .social-media-links p {
    margin-top: 6px;
    font-size: 12px;
}

#skills-section-wrapper {
    position: relative;
    overflow: hidden; /* hides anything breaking out */
}

.divider {  /* will be populated with a ribbon OR gradient soon */
    width: 100%;
    height: 10px;
    background-color: #D5B3B3;
    /*margin: 50px 0; /* top/bottom, left/right */
    margin: 0;  /* so the circle doesn't overlay */
    position: relative;
    z-index: 50;    /* so on top of beige circle */
}

/*just added*/
.smiski {
    margin-left: -10px;
}

.smiski img {
    width: 340px; /* originally 400px... maybe change back? */
}

#skills-section {
    flex-direction: column; /* stacks the elements top-to-bottom instead of in a row */
    justify-content: center;    /* centers content in middle of this column-axis */
    /*padding: 10px 100px;    /* CHANGE 10px???? */
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;  /* gap between each element */

    margin-bottom: 160px;    /* space between the section and the divider */
    margin-top: -450px;
}

.hard-skills {
    margin-top: -10px;
}
.hard-skills h3 {
    padding-top: 30px;
    padding-bottom: 15px;
}

.soft-skills {
    margin-right: -40em;
    margin-top: -317px;
    margin-bottom: 113px;    /* space between the section and the divider */
}
.soft-skills h2 {
    padding-bottom: 30px;
}

.certifications {
    margin-right: -40em;
    margin-top: -85px;
}
.certifications h2 {
    padding-bottom: 30px;
}
.certifications p {     /* sets width for text in Certifications section */
    max-width: 25ch;
}

#projects-section h2 {  /* currently working on */
    flex-direction: column; /* stacks the elements top-to-bottom instead of in a row */
    justify-content: center;    /* centers content in middle of this column-axis */
    /*padding: 10px 100px;    /* CHANGE 10px???? */
    display: flex;
    align-items: center;
    text-align: center;
    /*gap: 20px;  /* gap between each element */

    margin-top: 40px;   /* space between the section and the divider */
}

#accomplishments {
    flex-direction: column; /* stacks the elements top-to-bottom instead of in a row */
    justify-content: center;    /* centers content in middle of this column-axis */
    /*padding: 10px 100px;    /* CHANGE 10px???? */
    display: flex;
    align-items: center;
    text-align: center;
    /*gap: 20px;  /* gap between each element */

    margin-top: 40px;   /* space between the section and the divider */
    margin-bottom: 50px;    /* buffer between bottom of page and body */
}

#accomplishments h3 {
    padding: 20px;
}


.email-button #heart-envelope {
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 7%;
    transition: transform 0.3s ease;
    z-index: 500;
    pointer-events: auto;
    /* add a box shadow or outline here? */
}
.email-button #heart-envelope:hover {
    transform: translateY(-11px); /* moves it 11px up from its current position */
}

.email-button .popup {
    position: fixed;    /* was absolute */
    font-size: 12px;
    color: #ffffff;
    background-color: #5e5e5e;
    padding: 7px 8px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    z-index: 400;
    bottom: 50px;
    right: 4px;

    /* centers popup text */
    align-content: center;
    justify-content: center;
    text-align: center;
}

.email-button .popup::before {  /* little diamond making pointed middle piece*/
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #5e5e5e;
    bottom: -3px;
    left: 51%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.email-button:hover .popup {
    transform: translateY(-75px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

